.features {
  display: flex;
  gap: 30px;
}
.features--list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.features__item {
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  background: $second-background-color;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $paragraph-color;
  font-weight: 500;
  font-size: 1t4px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.features__icon {
  fill: currentColor;
}

.features__title {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: left;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-align: left;
  color: $paragraph-color;
}
