.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-item {
  /*кнопки фильтра портфолио*/
  padding: 6px 22px;
  border: 0;
  background-color: $second-background-color;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: $maintext-color;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.filter-item:hover,
.filter-item:focus {
  background-color: $accent-color;
  color: $background-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
