.hero {
  background-color: rgba(47, 48, 58, 0.4);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  // url(../images/hero-backgr.jpg);
  background-image: url(../images/header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 0;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/header-mobile@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: url(../images/header-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/header-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: url(../images/header-desctop.jpg);
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/header-desctop@2x.jpg);
    }
  }
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 300px;
  color: $background-color;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 44px;
    width: 696px;
  }
}
.button-serv {
  display: block;
  margin-top: 30px;
  padding: 10px 32px;
  margin: 0 auto;
  font-family: inherit;
  background-color: $accent-color;
  color: $background-color;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  min-width: 216px;
  align-items: center;
  letter-spacing: 0.06em;
}
