.logo {
  color: var(--text-color);
  font-weight: 700;
  font-family: var(--second-font);
  font-style: normal;
  line-height: 1.2;
  font-size: 26px;
  text-decoration: none;
  display: inline-block;
  margin-right: 93px;
}
.logo-blue {
  text-decoration: none;
  color: $accent-color;
}
.logo-footer {
  color: $background-color;
}
