.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  z-index: 6;
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  & .modal {
    transform: translate(-50%, -50%) scale(0.3);
  }
}

// .backdrop.is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0.3);
// }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $background-color;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 1s;
  z-index: 2;
}

.modal-cross {
  outline: none;
  position: absolute;
  right: 0;
  color: $social-color;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid $cross-color;
  background-color: $background-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 8px 0 0;
  z-index: 100;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

// .modal-cross:hover,
// .modal-cross:focus {
//   fill: #2196f3;
// }
