.header-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-list-nav {
  display: flex;
  gap: 30px;
}
.navigation-item {
  display: block;
  color: $maintext-color;
  text-decoration: none;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  & + & {
    margin-left: 50px;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.nav-active {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    border-bottom: 4px solid $accent-color;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}
// .navigation-item + .navigation-item {
//   margin-left: 50px;
// }
