.foot-address {
  font-style: normal;
  margin-top: 20px;
}

.address {
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-align: left;
  color: $background-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  .list &:hover,
  .list &:focus {
    color: $accent-color;
  }
}
.mat-color {
  line-height: 1.71;
  text-decoration: none;
  color: $address-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .list &:hover,
  .list &:focus {
    color: $accent-color;
  }
}
// .list .address:hover,
// .list .mat-color:hover,
// .list .address:focus,
// .list .mat-color:focus {
//   color: var(--accent-color);
// }
.foot {
  background-color: $footer-color;
  padding: 60px 0;
}
.footer-horizont {
  display: flex;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-title {
  color: $background-color;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-icon {
  display: flex;
  justify-content: center;
  fill: $background-color;
  background: $social-footer-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.footer-icon:hover,
.footer-icon:focus {
  background: $accent-color;
  fill: $background-color;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.foot .container {
  display: flex;
  align-items: baseline;
}
.footer-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $background-color;
}
.footer-form {
  display: flex;
  gap: 12px;
}
.footer-subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: $address-color;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.footer-subscribe-input::placeholder {
  color: $background-color;
  opacity: 0.6;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
}
