.team {
  background-color: $second-background-color;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  max-width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $background-color;
}

.team__name {
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: $maintext-color;
}

.team__card {
  padding: 30px 0;
}

.team__prof {
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: $paragraph-color;
}

.team__icon a {
  text-decoration: none;
  color: $social-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
